.row {
  width: 100%;
  margin: 0 auto;
  max-width: $grid-width;
  box-sizing: border-box;
  @include clearfix;

  &.-nested {
    width: auto;
    max-width: none;
    margin-left: -$grid-gutter/2;
    margin-right: -$grid-gutter/2;
  }

  &.-orphan {
    padding: 0 $grid-gutter/2;
  }
}