.box {
  border: 1px solid $lighter-box-border;
  background-color: $lighter-box-background;
  border-radius: 2px;

  &.-shaded {
    border-color: $darker-box-border;
    background-color: $darker-box-background;
  }

  &.-info {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: 'i';
      font-family: Georgia, serif;
      font-size: 22px;
      color: $white;
      background-color: $page-text-color;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      top: -15px;
      left: -15px;
    }
  }
}