.sr {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  margin: 0;
}

.hidden {
  display:none !important;
}

.max-width {
  max-width: 100%;
}

%svgbackground-svgcheck {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 62 75'%3E%3Cpath fill='%23d40140' d='M62.75,9.625 C62.75,10.75 62.375,11.625 61.625,12.375 L32.375,41.5 L26.875,47 C26.125,47.75 25.25,48.125 24.125,48.125 C23,48.125 22.125,47.75 21.375,47 L15.875,41.5 L1.25,26.875 C0.5,26.125 0.125,25.25 0.125,24.125 C0.125,23 0.5,22.125 1.25,21.375 L6.75,15.875 C7.5,15.125 8.375,14.75 9.5,14.75 C10.625,14.75 11.5,15.125 12.25,15.875 L24.125,27.75 L50.625,1.25 C51.375,0.5 52.25,0.125 53.375,0.125 C54.5,0.125 55.375,0.5 56.125,1.25 L61.625,6.75 C62.375,7.625 62.75,8.5 62.75,9.625 L62.75,9.625 Z'/%3E%3C/svg%3E");
}

%svgbackground-hp {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 121 75' width='121' height='75' %3E%3Cpath fill='%230095d9' d='M64.836 69.596c16.793 0 30.4-14.437 30.4-32.243s-13.617-32.24-30.4-32.24c-.626 0-1.25.02-1.865.06L64.63 0h48.178c4.3 0 7.77 3.62 7.77 8.083v58.822c0 4.463-3.482 8.08-7.77 8.08H62.97l1.865-5.4M48.055 0H7.77C3.48 0 0 3.62 0 8.083v58.822c0 4.463 3.48 8.08 7.768 8.08h38.626l2.272-6C34.97 65.776 24.7 52.55 24.7 36.718c0-14.784 8.955-27.295 21.296-31.5L48.055 0' /%3E%3Cpath fill='%230095d9' d='M72.053 48.415h-4.056L75.62 27.01h4.06l-7.627 21.406m10.193-25.79h-13.15L50.445 75h8.08l7.947-22.318h8.083c1.787 0 4.04-.534 4.974-3.198l7.382-20.85c1.397-4.207-1.943-6.01-4.665-6.01z' /%3E%3Cpath fill='%230095d9' d='M61.914 29.304l-7.96 22.32h-8.008l8.756-24.562h-4.125l-8.756 24.562h-8.08L52.145.03h8.08L52.122 22.75h5.442c3.917 0 5.525 3.072 4.35 6.553'/%3E%3C/svg%3E");
}

.close-cookie-banner {
  display: block;
  width: 100%;
  font-weight: bold;
  text-decoration: underline;
}