.newsletter-list {
  @extend .row;
  margin-top: 50px; 

  > .newsletter, .social{
    @extend .col;
    margin-bottom: 20px;
  }

  > .newsletter {
    .bestpreise-seal {
      width: 80px;
      margin: 0 12px 0 0;
      float: left;
    }
  }
}
.grecaptcha-badge {
  z-index: 10 !important;
}