.checkout-step-6 {
  > form > .overview {
    .change {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
      border: none;
      font-size: 14px;
      font-weight: 700;
      padding-left: 0;
    }
  }

  .wrapper {
    @extend .row;
    padding: 0 $grid-gutter/2;
    margin-bottom: 20px;
  }

  .subprice {
    font-size: 16px;
  }

  .finalprice {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: $weight-semibold;

    .highlight {
      color: $highlight-color;
    }
  }

  .billing {
    @extend %-span-12;
    margin-bottom: 20px;
    table.prepaidConfirmorderTable td {
      border: 1px solid $concrete;
      padding-left:2px;
    }

    .billbox {
      padding: 20px 10px;

      .edit {
        float: none;
        box-sizing: border-box;
        text-align: center;
        margin-top: 10px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
      }
    }

    .head {
      margin-bottom: 20px;
    }

    .headline {
      font-size: 18px;
      font-weight: $weight-semibold;
      margin: 0;
    }
  }

  > form > .terms {
    @extend %-span-12;
    font-size: 12px;
  }

  > form > .next {
    width: 100%;

    .action {
      width: 100%;
      margin-top: 20px;
    }
  }

  .info {
    @extend .col;
    @extend %-span-12;
    font-size: 10px;
    line-height: 18px;
    margin-top: 40px;
  }


}