.cms-teaser {

  &.-product {
    > .showcase {
      height: 400px;
      padding-top: 60px;

      >.body {


        >.product {

          >.image {
            max-width: 100%;
          }

          > .badge {
            padding: 3px 15px 5px 5px;
            top:200px;

            .title {
              font-size: 16px;
              line-height: 1.4;
            }

            .price {
              line-height: 1.1;
              font-size: 35px;
            }

            .text {
              font-size: 10px;
              line-height: 1;
            }
          }
        }

        > .info {
          padding: 20px;

          >.headline {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.038;
            margin-top: 0;
          }

          // > .features {
          //   background: transparent;
          //   color:$concrete;
          //   display: table;

          //   li {
          //     font-size:14px;
          //     padding-bottom: 8px;
          //     display: table-row;
          //     float: none;
          //     padding-left: 0;

          //     &:before {
          //       position: relative;
          //       display: table-cell;
          //       padding-right: 4px;
          //       content: "\f00c";
          //       font: normal normal normal 14px/1 FontAwesome;
          //       text-rendering: auto;
          //       -webkit-font-smoothing: antialiased;
          //       background: none;
          //       color: $newGreen;
          //       font-size: 18px;
          //       transform: scale(1);
          //       top: 0;left: 0px;
          //     }

          //     &:after {
          //       padding-top: 10px;
          //       content: "";
          //       display: block;
          //     }
          //   }
          // }

          > .js-du {
            > .upload-button {
              .filebutton {
                font-size: 22px;
                line-height: 55px;
                height: 55px;
              }
            }
          }
        }
      }
    }
  }

  &.-photogifts {
    @extend .-product;

    > .showcase {
      height: 500px;
      padding-top: 40px;
      background-size: cover;
      background-position: left 35% bottom;

      >.body {
        >.product {
          width: calc(50% - 20px);
          float: left;
          position: relative;
          margin-left: 10px;
          margin-right: 10px;

          > .badge {
            padding: 5px 15px 5px 5px;
            top:200px;

            .title {
              font-size: 16px;
              line-height: 1.4;
            }

            .price {
              line-height: 1.1;
              font-size: 35px;
            }

            .text {
              font-size: 16px;
              line-height: 1.4;
            }
          }
        }
      }
    }
  }

  &.-cmr-teaser {
    @extend .-photogifts;
  }
}