.checkout-step-7 {
  .headline.-section {
    font-size: 34px;
  }

  &.storyshare {
    > .story {
      background-image: url('/assets/img/backgrounds/canvas_pattern.png');
      background-repeat: repeat;
      box-shadow: 0 1px 6px $silver;
      position: relative;
      padding-bottom: 30px;

      .next,
      .prev {
        position: absolute;
        fill: $white;
        z-index: 51;
        height: 40px;
        width: 18px;
        top: 160px;
        opacity: 0.75;
        transition: opacity 0.3s;
        cursor: pointer;
        filter: drop-shadow(0 0 1px $concrete);
        padding: 10px;

        &:hover {
          opacity: 1;
        }
      }

      .next {
        right: 0;
      }

      .prev {
        left: 0;
      }

      .canvas-carousel {
        @extend .content-slider;
        position: relative;
        height: 380px;

        &:after {
          content: '';
          position: absolute;
          z-index: 52;
          bottom: 0;
          left: 0;
          right: 0;
          height: 129px;
          background-image: url('/assets/img/backgrounds/canvas_fade_pattern.png');
          background-repeat: repeat-x;
        }

        li {
          height: 380px;
        }
      }

      .content {
        @extend .col;
        @extend .col.-centered;
        @extend %-span-8;
        margin-top: -30px;
        position: relative;
        z-index: 53;

        .title {
          text-align: center;
          margin-bottom: 30px;
        }

        .main {
          margin: 0;
          font-size: 48px;
          font-weight: $weight-bold;
          line-height: 1;
        }

        .sub {
          font-size: 30px;
        }

        .field {
          padding: 0 30px;
          font-style: italic;
          position: relative;

          &:before,
          &:after {
            content: '';
            position: absolute;
          }

          &:before {
            content: '';
            background-image: url(/assets/img/sprites/generic/quote.png);
            @include image-2x("/assets/img/sprites/generic/quote-2x.png", 22px, 18px);
            top: 0;
            left: 0;
          }

          &:after {
            content: '';
            background-image: url(/assets/img/sprites/generic/closing-quote.png);
            @include image-2x("/assets/img/sprites/generic/closing-quote-2x.png", 22px, 18px);
            bottom: 20px;
            right: 0;
          }
        }

        .storyinput {
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 90px;
          border: none;
          background-color: transparent;
          background-image: linear-gradient(to bottom, rgba($silver, 0.33) 0%, transparent 4%);
          background-position: 0 -1px;
          background-size: 100% 30px;
          font-size: 16px;
          line-height: 30px;

          &:focus {
            outline: none;
            background-image: linear-gradient(to bottom, rgba($silver, 0.8) 0%, transparent 4%);
          }
        }

        .from {
          width: 100%;
          text-align: right;
          margin-top: 3px;

          &:before {
            content: '– ';
          }
        }
      }
    }
    > .share {
      @extend .row;
      margin-top: 30px;

      > .terms {
        @extend .col;
        @extend %-span-6;
        @extend %-skip-2;
      }

      > .next {
        @extend .col;
        @extend %-span-2;
      }

      .action {
        @extend .button_action;
        float: right;
      }

      a {
        @extend .anchor;
      }
    }
  }

  &.orderreview {
    @extend .row;
    font-size: 14px;

    > .info {
      @extend .col;
      @extend %-span-5;
      @extend %-skip-1;
    }

    > .trusted {
      @extend .col;
      @extend %-span-5;

      .cbox {
        @extend .box.-info;
      }

      .logo {
        float: left;
        margin-right: 20px;
      }

      .body {
        margin-left: 70px;
      }

      .action {
        @extend .button_action;
        @extend .button_action_mod-secondary;
        margin-top: 20px;
      }
    }

    p {
      margin: 0;
    }

    .cbox {
      @extend .box;
      padding: 20px;
    }

    .ordernumber {
      color: $highlight-color;
    }
  }

  &.customerstory {
    @extend .row;
    font-size: 14px;

    > .story {
      @extend .col;
      @extend .col.-centered;
      @extend %-span-10;
    }

    .halfbox {
      @extend .half-box;

      > .body {
        padding: 20px;
      }

      p {
        margin-top: 0;
      }
    }
  }

  &.community {
    .facebook {
      display: table;
      margin: 0 auto;
      font-size: 24px;
      color: $facebook;
      text-decoration: none;
      transition: color 0.2s;
      margin-bottom: 50px;

      &:hover {
        color: darken($facebook, 10);

        .like {
          transform: scale(1.2);
        }
      }

      .like {
        margin-right: 10px;
        position: relative;
        top: 10px;
        transform: scale(1);
        transition: transform 0.3s;
      }
    }

    .images {
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include clearfix;

      li {
        width: 25%;
        float: left;
        position: relative;
        display: block;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.2);
          }

          a:before {
            opacity: 1;
          }
        }
      }

      a {
        overflow: hidden;
        display: block;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          background-color: rgba($page-text-color, 0.25);
          transition: opacity 0.3s;

          .no-opacity {
            display: none;
          }
        }
      }

      img {
        width: 100%;
        display: block;
        transform: scale(1);
        transition: transform 0.3s;
      }
    }

    .like {
      width: 50px;
      height: 50px;
    }
  }

  &.coupon {
    @extend .row;
    text-align: center;
    font-size: 14px;

    p {
      @extend .col;
      @extend .col.-centered;
      @extend %-span-6;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .action {
      @extend .anchor;
      font-weight: $weight-semibold;
      font-size: 16px;
    }
  }

  &.terms {
    font-size: 12px;
    line-height: 18px;

    > .body {
      @extend .row;
      padding: 0 $grid-gutter/2;
    }

    .title {
      font-size: 16px;
      font-weight: $weight-semibold;
    }
  }

}
.ordersuccess {
  .borderbox {
    width: 760px;
    margin: 35px auto 35px;
    padding: 5px 10px 5px 20px;
    border: 2px solid #35b2b6;
    &.-new {
      width: 660px;
      border: 2px solid $red;
      .-pt5 {
        padding-top: 5px;
      }
      .-pb5 {
        padding-bottom: 5px;
      }
      .-f24 {
        font-size: 24px;
      }
      .-icons {
        gap: 10px;
        margin: 10px 0;
        button {
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }
    }
  }

  .share-block button {
      background-repeat: no-repeat;
      background-position: 8px 7px;
      color: #fff;
      border: none;
      width: 175px;
      height: 40px;
      margin: 15px 5px 15px 0;
  }

  .copy-bubble {
      text-align: center;
      margin-left: 135px;
      margin-top: 70px;
      padding-top: 10px;
      font-size: 14px;
      position: absolute;
      width: 260px;
      height: 30px;
      background: #fff;
      border-radius: 45px;
      border: 1px solid #7f7f7f;
      &:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 22px 16px;
          border-color: #fff transparent;
          display: block;
          width: 0;
          z-index: 1;
          top: -16px;
          left: 105px;
      }
      &:before {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 22px 16px;
          border-color: #7f7f7f transparent;
          display: block;
          width: 0;
          z-index: 0;
          top: -17px;
          left: 105px;
      }
  }

  .odd {
    background-color: #f5f5f5;
    .-f22 {
      font-size: 22px;
      margin-bottom: 36px;
    }
    a {
      padding: 0 15px;
    }
  }

  .count-position {
    margin-top: 105px;
  }

  .offer-banner {
    background-color: $red;
    color: $white;
    font-weight: 700;
    padding: 0.5em 0px;
    margin: 12px auto 0;
    text-align: center;
    font-size: 1.5em;
    top: 3em;
    border-radius: 20px;
  }

  .price-table {
    margin: 0 auto;
    margin-top: 0;
    border-collapse: collapse;
    th {
      color: $newGreen;
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      padding: 3px 12px;
      &.price-special {
        color: $white;
        background: $red;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
    td {
      padding: 3px 12px;
      &.price-special {
        color: $white;
        background: $red;
      }
    }

  }
  .voucher-box {
    color: $newGreen;
    font-weight: bold;
    .voucher-line {
      width: 458px;
      margin: 5px auto 0px;
      border: 2px solid;
      padding: 7px;
      font-size: 24px;
    }
    .voucher-code {
      color: $red;
      font-weight: bold;
      font-size: 1.1em;
    }
  }

  .discountInfo p {
    font-size: 0.8em;
    line-height:0.5em;
  }

  #countdown-success {
    background-color: $black;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 5em;
    border-radius: 20px;
  }


  .post {
    float: left;
    position: relative;
    border: 1px solid #dfdfe1;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
  }

  .post::after {
    content: "";
    display: table;
    clear: both;
  }

  .post .post-img {
    height: 278px;
    overflow: hidden;
    text-align: center;
    background: $black;
    position: relative;
    display:flex;
  }

  .post .square {
    height: 100%;
    width: 100%;
  }

  .post .landscape {
    height: auto;
    width: 100%;
  }

  .post .portrait {
    width: 40%;
    height: 100%;
    margin: auto;
  }

  .post h2 {
    color: $white;
    position: absolute;
    top: 10px;
    left: 66px;
    text-align: left;
    margin: 0;
    font-size: 16px;
    z-index: 1;
  }

  .post h2 a {
    color: inherit;
  }

  .post textarea {
    border: none;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 150px;
  }

  .post textarea:focus {
    outline: none;
  }

  .post textarea + p {
    margin: 5px 20px;
    color: $black;
    font-size: 14px;
  }

  .post hr {
    margin: 0 15px;
    border-top: 1px solid #ededed;
    border-bottom: none;
  }

  .post hr + p {
    margin: 5px 0;
  }


  .side {
    width: 64px;
    float: left;
    margin-top: 56px;
    box-sizing: border-box;
    padding-left: 10px;
    display: none;
  }

  .side img {
    width: 100%;
    height: 100%;
  }

  .side ul {
    padding: 0;
    margin: 0;
    display: none;
  }

  .side li {
    width: 100%;
    height: 58px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
  }

  .side li.active::before {
    background: none;
  }
  .controls {
    background: url('/assets/img/backgrounds/spritesheet.png');
    position: absolute;
    top: 50%;
    height: 50px;
    width: 34px;
    margin-top: -25px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
    display: none;
  }

  .prev {
    background-position: -5px -5px;
    left: 0;
  }

  .next {
    background-position: -37px -5px;
    right: 0;
  }
  .side li::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background: rgba(84, 82, 82, 0.73);
  }
  .relative {
    position: relative;
  }
  .image {
    max-width: 100%;
  }
  .terms {
    font-size: 13px;
    font-weight: bold;
  }
  .terms a {
    color: $newGreen;
    font-weight: bold;
    text-decoration: none;
  }
  #shareit {
    color: $white;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    background-color: $newGreen;
    background-image: -webkit-linear-gradient(#f89711,#ff6d00);
    background-image: linear-gradient(#f89711,#ff6d00);
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
    padding-left: 43px;
    padding-right: 48px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    text-align: center;
    margin: 0 5px 0 15px;
  }
  .note {
    font-size: .8em;
    background: rgb(148, 144, 144);
    color: $white;
    padding: 25px;
    clear: both;
    border-radius: 10px;
    font-style: italic;
  }
  .tip {
    position: absolute;
    top: 40px;
    left: 0;
    background: $newGreen;
    color: $white;
    padding: 13px 39px;
    border-radius: 3px;
    font-size: 15px;
    display: none;
  }
  .tip::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 9px solid $newGreen;
    position: absolute;
    top: -8px;
    left: 32px;
  }
  .page-section ul {
    padding-left: 0;
    > li {
      list-style: none;
    }
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .icon-arrows {
    width: 66px;
    height: 50px;
    background-position: -5px -5px;
  }

  .icon-cos {
    background: url('/assets/img/icons/android-chrome-48x48.png');
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .icon-fb {
    background-image: url(/assets/img/sprites/ordersuccess/fb-icon.png);
    @include image-2x("/assets/img/sprites/ordersuccess/fb-icon-2x.png", 18px, 18px);
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
  }

  .icon-gift {
    background-image: url(/assets/img/sprites/ordersuccess/gift.png);
    @include image-2x("/assets/img/sprites/ordersuccess/gift-2x.png", 25px, 25px);
    width: 25px;
    height: 25px;
  }

  .icon-msg {
    background-image: url(/assets/img/sprites/ordersuccess/chat.png);
    @include image-2x("/assets/img/sprites/ordersuccess/chat-2x.png", 32px, 25px);
    width: 32px;
    height: 25px;
  }

  .icon-share {
    background-image: url(/assets/img/sprites/ordersuccess/export.png);
    @include image-2x("/assets/img/sprites/ordersuccess/export-2x.png", 24px, 24px);
    width: 24px;
    height: 24px;
  }

  .icon-share-arrow {
    background-image: url(/assets/img/sprites/ordersuccess/forward.png);
    @include image-2x("/assets/img/sprites/ordersuccess/forward-2x.png", 12px, 10px);
    width: 12px;
    height: 10px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .icon-tag {
    background-image: url(/assets/img/sprites/ordersuccess/tag.png);
    @include image-2x("/assets/img/sprites/ordersuccess/tag-2x.png", 25px, 28px);
    width: 25px;
    height: 28px;
  }
  #waterwheel-carousel {
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 0 auto 9em;
    display: block;
    width: 900px;
    height: 500px;
  }

  #waterwheel-carousel img {
    visibility: hidden;
    cursor: pointer;
  }
}
#terms ul {
  padding-left: 2em;
  >li {
    list-style-type: disc;
  }
}
