.page-head {
  width: 100%;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  @include z-index(navigation);

  &.-min {
    .meta {
      margin-top: 0;
    }
  }
}

// Top bar with navigation
.page-head-bar {
  width: 100%;
  min-width: $grid-width;
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid #b7b7b7;
  background-color: $head-background-color;
  z-index: 2;

  .head-freeship {
    position: absolute;
    width: 130px;
    top: 9px;
    color: $page-text-color !important;
    right: -150px;
    font-size: 10px;

    &.-checkout {
      position: static;
      top: unset;
      right: unset;
      margin-top: -5px;
    }
  }
}

// Row inside of .page-head-top
.page-head-row {
  @extend .row;
  position: relative;
  padding: 0 $grid-gutter/2; // There are no cols in this row, so
  box-sizing: border-box;    // set the col-padding to the row

  &.-top-bar {
    display: grid;
    grid-template-columns: auto 3fr auto;

    &.-checkout{
      background-image: none;
    }

    &.-bottomBorder {
      border-bottom: 1px solid #B7B7B7;
    }
    &:before {
      content: none;
    }
  }

  .pawPatrolLogo {
    position: absolute;
    height: 35px;
    top: -6px;
    padding-left: 7px;
  }

  > .header-right-side {
    display: flex;
    justify-content: flex-end;
  }

  > .header-middle-side {
    margin: 13px auto 0px;
    font-size: 14px;

    .js-countdown {
      font-family: Arial, Helvetica, sans-serif;
    }

    a {
      color:$newGreen !important;
      text-decoration: underline;
    }
  }

  >.header-right-side
  > .header-icon {
    margin: 10px 0 0 20px;
    text-align: center;

    &.-active {
      > a {
        color: #35B2B6;
      }

      > a
      > svg {
        fill: #35B2B6;
      }
    }

    > a {
      text-decoration: none;
      color: #878787;

      &:hover {
        color: #35B2B6;

        svg {
          fill: #35B2B6;
        }
      }

      .cart-notification {
        font-size: 12px;
        height: 16px;
        width: 16px;
        background: #d40140;
        color: white;
        position: absolute;
        border-radius: 25px;
        display: grid;
        justify-content: center;
        align-items: center;
        top: 3px;
        right: 18px;
      }

      > p {
        font-size: 10px;
        margin-top: 0;
        line-height: 1.3;
      }

      > p:last-child {
        margin-bottom: 10px;
      }

      > svg {
         fill: #959596;
      }
    }

    /* New Login Menu */
    &.-flyMenu {
      margin: 10px 35px 0 28px !important;
      &:hover.close.-active:before {
        background-image: none;
      }
      .active {
        color: #35b2b6;
      }
      .close {
        position: absolute;
        width: 16px;
        height: 21px;
        padding: 2px 0 0 15px;
        &:hover:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath fill='%2335b2b6' d='M184.1 153.3v20.3a7.2 7.2 0 01-7.3 7.3H22.5a7.3 7.3 0 01-7.4-7.3v-20.3a11.4 11.4 0 016.9-10l37.7-19.9a37 37 0 0033 20.8h13.9a37 37 0 0033-20.8l37.7 19.9a11.3 11.3 0 016.8 10z'/%3E%3Cpath fill='%2335b2b6' d='M99.5 23.3c25.7 0 38.1 12.6 40.4 31.3s-3 32.7-5 41-6.9 19.2-6.9 19.2c-2.2 8.6-11.2 14.7-21.6 14.7H92.7c-10.4 0-19.3-6.1-21.6-14.7 0 0-4.9-11-6.9-19.2s-7.1-23.7-5-41 14.7-31.3 40.4-31.3z'/%3E%3C/svg%3E") !important;
        }
        &.-active {
          background: #F9F9F9;
          border: 1px solid #E1E1E1;
          border-bottom: none;
          padding: 2px 0 0 15px !important;
          margin-left: -6px;
          &:after {
            transform: rotate(-45deg);
          }
          .pseudoTitle {
            color: #35B2B7;
          }
          .line {
            width: 100%;
            height: 2px;
            background: #F9F9F9;
            display: block;
            position: absolute;
            left: 0;
            top: 23px;
            z-index: 9;
          }
        }
        +p {
          font-size: 10px;
          margin-top: 0;
        }
      }
      
      .login-header-menu {
        &.-expanded {
          visibility: visible !important;
          display: inline-table !important;

          &.-configurator {
            display: inline-table !important;
          }
        }
        &.sub {
          min-width: 300px;
          margin-left: -245px;
          margin-top: 24px;
          left: 0;
          background-color: #F9F9F9;
          border: 1px solid #E1E1E1 !important;
          padding: 20px 10px !important;  
          z-index: 2;
          visibility: hidden;
          display: none;
        }    
        label {
          font-size: 16px;
        }
        &.-configurator {
          display: none !important;
          position: absolute;
        }
      }
      .-title {
        font-size: 10px;
        margin-top: 0;
        text-decoration: none;
        color: #878787;
        position: absolute;
        padding: 30px 10px 0 10px;
        top: -3px;
        font-weight: normal;
        &:before {
          display: none;
        }
      }
      .pseudoTitle {
        position: absolute;
        font-size: 10px;
        margin-top: 0;
        color: grey;
        left: -14px;
        top: 27px;
        font-weight: normal;
        white-space: nowrap;
        &:hover {
          color: #35b2b6;
        }
        &.loggedIn {
          left: -20px;
          color: #35b2b6;
        }
      }
      .login-header-menu {
        &.sub {
          &.-sub-links {
            padding: 0 !important;
            .login-link {
              padding: 20px 10px;
              font-size: 16px;
              cursor: pointer;
              
              &:not(:last-child) {
                border-bottom: 1px solid #E1E1E1;
              }
              a {
                color: #4A4A4A;

                &.active {
                  color: #35b2b6;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      .accordion-panel {
        background-color: transparent;
        border: none;
        margin-top: -10px;
        >.title.-expandable.close {
          &:before { 
            content: '';
            width: 20px;
            height: 25px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath fill='%23959596' d='M184.1 153.3v20.3a7.2 7.2 0 01-7.3 7.3H22.5a7.3 7.3 0 01-7.4-7.3v-20.3a11.4 11.4 0 016.9-10l37.7-19.9a37 37 0 0033 20.8h13.9a37 37 0 0033-20.8l37.7 19.9a11.3 11.3 0 016.8 10z'/%3E%3Cpath fill='%23959596' d='M99.5 23.3c25.7 0 38.1 12.6 40.4 31.3s-3 32.7-5 41-6.9 19.2-6.9 19.2c-2.2 8.6-11.2 14.7-21.6 14.7H92.7c-10.4 0-19.3-6.1-21.6-14.7 0 0-4.9-11-6.9-19.2s-7.1-23.7-5-41 14.7-31.3 40.4-31.3z'/%3E%3C/svg%3E");
            border-style: none;
            top: inherit;
            left: 0;
            margin-top: 0;
            background-repeat: no-repeat;
            background-color: transparent;
          }
          &.loggedIn:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath fill='%2335b2b6' d='M184.1 153.3v20.3a7.2 7.2 0 01-7.3 7.3H22.5a7.3 7.3 0 01-7.4-7.3v-20.3a11.4 11.4 0 016.9-10l37.7-19.9a37 37 0 0033 20.8h13.9a37 37 0 0033-20.8l37.7 19.9a11.3 11.3 0 016.8 10z'/%3E%3Cpath fill='%2335b2b6' d='M99.5 23.3c25.7 0 38.1 12.6 40.4 31.3s-3 32.7-5 41-6.9 19.2-6.9 19.2c-2.2 8.6-11.2 14.7-21.6 14.7H92.7c-10.4 0-19.3-6.1-21.6-14.7 0 0-4.9-11-6.9-19.2s-7.1-23.7-5-41 14.7-31.3 40.4-31.3z'/%3E%3C/svg%3E");
          }
        }
        >.title.-expandable.close.-active:before {
          background-image: none;
          transform: rotate(45deg);
          border-style: none;
          top: inherit;
          left: initial;
          margin-top: 0;
          width: 3px;
          height: inherit;
        }
      }
      .close.-active:before, 
      .close.-active:after {
        position: absolute;
        content: ' ';
        height: 21px;
        width: 3px;
        background-color: #35B2B7 !important;
        display: block;
        margin-left: -1px;
      }

      .text-left {
        .text-center {
          font-size: 20px;
          margin: unset;
          padding-bottom: 10px;
        }

        input {
          height: 40px;
          line-height: 40px;
        }

        button {
          height: 40px;
          font-size: 16px;
          padding: 4px 20px;
        }
      }
    }
    /* / New Login Menu / */

    /* New Lang Menu */
    &.-flyMenu.-lang {
      margin: 10px 35px 0 28px !important;
      &:hover.close.-active:before {
        background-image: none;
      }
      .active {
        color: #35b2b6;
      }
      .close {
        position: absolute;
        width: 16px;
        height: 21px;
        padding: 2px 0 0 15px;
        &:hover:before {
          background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E0AE976CE-F534-4C63-9050-32AE92578D51%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='MFDE_LanguageSelector_German_Default-(D)' transform='translate(-773.000000, -89.000000)' fill='%2335b2b6' fill-rule='nonzero'%3E%3Cg id='Group-2' transform='translate(760.000000, 89.000000)'%3E%3Cg id='Group' transform='translate(13.000000, 0.000000)'%3E%3Cpath d='M6.785,2.31323333 C6.02399811,3.08418703 5.42174655,3.99703654 5.01240833,5 L3.34925,5 C4.23694724,3.81652992 5.42244328,2.88946851 6.785,2.31323333 L6.785,2.31323333 Z M2.36735,6.66666667 L4.49885,6.66666667 C4.3228985,7.48938027 4.21917069,8.32589485 4.18885,9.16666667 L1.70893333,9.16666667 C1.79580469,8.30393627 2.01799864,7.46026858 2.36735,6.66666667 L2.36735,6.66666667 Z M2.36735,13.3333333 C2.01799864,12.5397314 1.79580469,11.6960637 1.70893333,10.8333333 L4.18884167,10.8333333 C4.21916236,11.6741052 4.32289017,12.5106197 4.49884167,13.3333333 L2.36735,13.3333333 Z M3.34925,15 L5.01240833,15 C5.42174655,16.0029635 6.02399811,16.915813 6.785,17.6867667 C5.42244328,17.1105315 4.23694724,16.1834701 3.34925,15 Z M9.16666667,17.5503 C8.20108552,16.8919554 7.40096094,16.0190829 6.82891667,15 L9.16666667,15 L9.16666667,17.5503 Z M9.16666667,13.3333333 L6.19593333,13.3333333 C5.99544507,12.5141021 5.88045779,11.6762873 5.85281667,10.8333333 L9.16666667,10.8333333 L9.16666667,13.3333333 Z M9.16666667,9.16666667 L5.85281667,9.16666667 C5.88045779,8.3237127 5.99544507,7.48589794 6.19593333,6.66666667 L9.16666667,6.66666667 L9.16666667,9.16666667 Z M9.16666667,5 L6.82891667,5 C7.40096094,3.98091712 8.20108552,3.10804461 9.16666667,2.4497 L9.16666667,5 Z M16.65075,5 L14.9874167,5 C14.5779228,3.99692846 13.9755118,3.08399408 13.21435,2.312975 C14.5771665,2.88919636 15.7628967,3.81635461 16.65075,5 L16.65075,5 Z M10.8333333,2.44985 C11.798754,3.10824154 12.5987772,3.98104546 13.1708333,5 L10.8333333,5 L10.8333333,2.44985 Z M10.8333333,6.66666667 L13.8039667,6.66666667 C14.004492,7.48589376 14.1195128,8.32370891 14.1471833,9.16666667 L10.8333333,9.16666667 L10.8333333,6.66666667 Z M10.8333333,10.8333333 L14.1471833,10.8333333 C14.1195128,11.6762911 14.004492,12.5141062 13.8039667,13.3333333 L10.8333333,13.3333333 L10.8333333,10.8333333 Z M10.8333333,17.55015 L10.8333333,15 L13.1708333,15 C12.5987772,16.0189545 11.798754,16.8917585 10.8333333,17.55015 L10.8333333,17.55015 Z M13.2143667,17.687025 C13.9755285,16.9160059 14.5779395,16.0030715 14.9874333,15 L16.6507667,15 C15.7629134,16.1836454 14.5771832,17.1108036 13.2143667,17.687025 Z M17.6327,13.3333333 L15.5011,13.3333333 C15.6770971,12.5106258 15.7808447,11.674109 15.8111583,10.8333333 L18.2910667,10.8333333 C18.2042165,11.6960619 17.9820393,12.5397304 17.6327,13.3333333 L17.6327,13.3333333 Z M15.8111583,9.16666667 C15.7808447,8.32589103 15.6770971,7.48937415 15.5011,6.66666667 L17.6327,6.66666667 C17.9820278,7.46027154 18.2041938,8.30393988 18.2910333,9.16666667 L15.8111583,9.16666667 Z M20,10 C20,4.4771525 15.5228475,0 10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 C12.6521649,20 15.195704,18.9464316 17.0710678,17.0710678 C18.9464316,15.195704 20,12.6521649 20,10 Z' id='globe'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
        }

        
        &.-active {
          background: #F9F9F9;
          border: 1px solid #E1E1E1;
          border-bottom: none;
          padding: 2px 0 0 15px !important;
          margin-left: -6px;
          &:after {
            transform: rotate(-45deg);
          }
          .pseudoTitle {
            color: #35B2B7;
          }
          .line {
            width: 100%;
            height: 2px;
            background: #F9F9F9;
            display: block;
            position: absolute;
            left: 0;
            top: 23px;
            z-index: 9;
          }
        }
        +p {
          font-size: 10px;
          margin-top: 0;
        }
      }
      
      .lang-header-menu {
        &.-expanded {
          visibility: visible !important;
          display: inline-table !important;

          &.-configurator {
            display: inline-table !important;
          }
        }
        &.sub {
          min-width: 100px;
          margin-left: -40px;
          margin-top: 24px;
          left: 0;
          background-color: #f9f9f9;
          border: 1px solid #e1e1e1!important;
          padding: 7px 0!important;
          z-index: 2;
          visibility: hidden;
          display: none;
        }    
        .languageButton {
          display: block;
          color: #4A4A4A;
          font-size: 14px;
          line-height: 20px;
          padding: 0 10px!important;
          &.weglot-link--active {
            font-weight: bold;
            color: #35b2b6;
          }
        }
        .languageBorder {
          background-color: #E1E1E1;
          display: block;
          width: 100%;
          height: 1px;
          border: none;
        }
        label {
          font-size: 16px;
        }
      }
      .-title {
        font-size: 10px;
        margin-top: 0;
        text-decoration: none;
        color: #878787;
        position: absolute;
        padding: 30px 10px 0 10px;
        top: -3px;
        font-weight: normal;
        &:before {
          display: none;
        }
      }
      .pseudoTitle {
        position: absolute;
        font-size: 10px;
        margin-top: 0;
        color: grey;
        left: -14px;
        top: 27px;
        font-weight: normal;
        white-space: nowrap;
        &:hover {
          color: #35b2b6;
        }
        &.loggedIn {
          left: -20px;
          color: #35b2b6;
        }
      }
      .accordion-panel {
        background-color: transparent;
        border: none;
        margin-top: -10px;
        >.title.-expandable.close {
          &:before { 
            content: '';
            width: 20px;
            height: 25px;
            background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E0AE976CE-F534-4C63-9050-32AE92578D51%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='MFDE_LanguageSelector_German_Default-(D)' transform='translate(-773.000000, -89.000000)' fill='%23878787' fill-rule='nonzero'%3E%3Cg id='Group-2' transform='translate(760.000000, 89.000000)'%3E%3Cg id='Group' transform='translate(13.000000, 0.000000)'%3E%3Cpath d='M6.785,2.31323333 C6.02399811,3.08418703 5.42174655,3.99703654 5.01240833,5 L3.34925,5 C4.23694724,3.81652992 5.42244328,2.88946851 6.785,2.31323333 L6.785,2.31323333 Z M2.36735,6.66666667 L4.49885,6.66666667 C4.3228985,7.48938027 4.21917069,8.32589485 4.18885,9.16666667 L1.70893333,9.16666667 C1.79580469,8.30393627 2.01799864,7.46026858 2.36735,6.66666667 L2.36735,6.66666667 Z M2.36735,13.3333333 C2.01799864,12.5397314 1.79580469,11.6960637 1.70893333,10.8333333 L4.18884167,10.8333333 C4.21916236,11.6741052 4.32289017,12.5106197 4.49884167,13.3333333 L2.36735,13.3333333 Z M3.34925,15 L5.01240833,15 C5.42174655,16.0029635 6.02399811,16.915813 6.785,17.6867667 C5.42244328,17.1105315 4.23694724,16.1834701 3.34925,15 Z M9.16666667,17.5503 C8.20108552,16.8919554 7.40096094,16.0190829 6.82891667,15 L9.16666667,15 L9.16666667,17.5503 Z M9.16666667,13.3333333 L6.19593333,13.3333333 C5.99544507,12.5141021 5.88045779,11.6762873 5.85281667,10.8333333 L9.16666667,10.8333333 L9.16666667,13.3333333 Z M9.16666667,9.16666667 L5.85281667,9.16666667 C5.88045779,8.3237127 5.99544507,7.48589794 6.19593333,6.66666667 L9.16666667,6.66666667 L9.16666667,9.16666667 Z M9.16666667,5 L6.82891667,5 C7.40096094,3.98091712 8.20108552,3.10804461 9.16666667,2.4497 L9.16666667,5 Z M16.65075,5 L14.9874167,5 C14.5779228,3.99692846 13.9755118,3.08399408 13.21435,2.312975 C14.5771665,2.88919636 15.7628967,3.81635461 16.65075,5 L16.65075,5 Z M10.8333333,2.44985 C11.798754,3.10824154 12.5987772,3.98104546 13.1708333,5 L10.8333333,5 L10.8333333,2.44985 Z M10.8333333,6.66666667 L13.8039667,6.66666667 C14.004492,7.48589376 14.1195128,8.32370891 14.1471833,9.16666667 L10.8333333,9.16666667 L10.8333333,6.66666667 Z M10.8333333,10.8333333 L14.1471833,10.8333333 C14.1195128,11.6762911 14.004492,12.5141062 13.8039667,13.3333333 L10.8333333,13.3333333 L10.8333333,10.8333333 Z M10.8333333,17.55015 L10.8333333,15 L13.1708333,15 C12.5987772,16.0189545 11.798754,16.8917585 10.8333333,17.55015 L10.8333333,17.55015 Z M13.2143667,17.687025 C13.9755285,16.9160059 14.5779395,16.0030715 14.9874333,15 L16.6507667,15 C15.7629134,16.1836454 14.5771832,17.1108036 13.2143667,17.687025 Z M17.6327,13.3333333 L15.5011,13.3333333 C15.6770971,12.5106258 15.7808447,11.674109 15.8111583,10.8333333 L18.2910667,10.8333333 C18.2042165,11.6960619 17.9820393,12.5397304 17.6327,13.3333333 L17.6327,13.3333333 Z M15.8111583,9.16666667 C15.7808447,8.32589103 15.6770971,7.48937415 15.5011,6.66666667 L17.6327,6.66666667 C17.9820278,7.46027154 18.2041938,8.30393988 18.2910333,9.16666667 L15.8111583,9.16666667 Z M20,10 C20,4.4771525 15.5228475,0 10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 C12.6521649,20 15.195704,18.9464316 17.0710678,17.0710678 C18.9464316,15.195704 20,12.6521649 20,10 Z' id='globe'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            border-style: none;
            top: inherit;
            left: 0;
            margin-top: 0;
            background-repeat: no-repeat;
            background-color: transparent;
          }
          &.loggedIn:before {
            background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E0AE976CE-F534-4C63-9050-32AE92578D51%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='MFDE_LanguageSelector_German_Default-(D)' transform='translate(-773.000000, -89.000000)' fill='%23878787' fill-rule='nonzero'%3E%3Cg id='Group-2' transform='translate(760.000000, 89.000000)'%3E%3Cg id='Group' transform='translate(13.000000, 0.000000)'%3E%3Cpath d='M6.785,2.31323333 C6.02399811,3.08418703 5.42174655,3.99703654 5.01240833,5 L3.34925,5 C4.23694724,3.81652992 5.42244328,2.88946851 6.785,2.31323333 L6.785,2.31323333 Z M2.36735,6.66666667 L4.49885,6.66666667 C4.3228985,7.48938027 4.21917069,8.32589485 4.18885,9.16666667 L1.70893333,9.16666667 C1.79580469,8.30393627 2.01799864,7.46026858 2.36735,6.66666667 L2.36735,6.66666667 Z M2.36735,13.3333333 C2.01799864,12.5397314 1.79580469,11.6960637 1.70893333,10.8333333 L4.18884167,10.8333333 C4.21916236,11.6741052 4.32289017,12.5106197 4.49884167,13.3333333 L2.36735,13.3333333 Z M3.34925,15 L5.01240833,15 C5.42174655,16.0029635 6.02399811,16.915813 6.785,17.6867667 C5.42244328,17.1105315 4.23694724,16.1834701 3.34925,15 Z M9.16666667,17.5503 C8.20108552,16.8919554 7.40096094,16.0190829 6.82891667,15 L9.16666667,15 L9.16666667,17.5503 Z M9.16666667,13.3333333 L6.19593333,13.3333333 C5.99544507,12.5141021 5.88045779,11.6762873 5.85281667,10.8333333 L9.16666667,10.8333333 L9.16666667,13.3333333 Z M9.16666667,9.16666667 L5.85281667,9.16666667 C5.88045779,8.3237127 5.99544507,7.48589794 6.19593333,6.66666667 L9.16666667,6.66666667 L9.16666667,9.16666667 Z M9.16666667,5 L6.82891667,5 C7.40096094,3.98091712 8.20108552,3.10804461 9.16666667,2.4497 L9.16666667,5 Z M16.65075,5 L14.9874167,5 C14.5779228,3.99692846 13.9755118,3.08399408 13.21435,2.312975 C14.5771665,2.88919636 15.7628967,3.81635461 16.65075,5 L16.65075,5 Z M10.8333333,2.44985 C11.798754,3.10824154 12.5987772,3.98104546 13.1708333,5 L10.8333333,5 L10.8333333,2.44985 Z M10.8333333,6.66666667 L13.8039667,6.66666667 C14.004492,7.48589376 14.1195128,8.32370891 14.1471833,9.16666667 L10.8333333,9.16666667 L10.8333333,6.66666667 Z M10.8333333,10.8333333 L14.1471833,10.8333333 C14.1195128,11.6762911 14.004492,12.5141062 13.8039667,13.3333333 L10.8333333,13.3333333 L10.8333333,10.8333333 Z M10.8333333,17.55015 L10.8333333,15 L13.1708333,15 C12.5987772,16.0189545 11.798754,16.8917585 10.8333333,17.55015 L10.8333333,17.55015 Z M13.2143667,17.687025 C13.9755285,16.9160059 14.5779395,16.0030715 14.9874333,15 L16.6507667,15 C15.7629134,16.1836454 14.5771832,17.1108036 13.2143667,17.687025 Z M17.6327,13.3333333 L15.5011,13.3333333 C15.6770971,12.5106258 15.7808447,11.674109 15.8111583,10.8333333 L18.2910667,10.8333333 C18.2042165,11.6960619 17.9820393,12.5397304 17.6327,13.3333333 L17.6327,13.3333333 Z M15.8111583,9.16666667 C15.7808447,8.32589103 15.6770971,7.48937415 15.5011,6.66666667 L17.6327,6.66666667 C17.9820278,7.46027154 18.2041938,8.30393988 18.2910333,9.16666667 L15.8111583,9.16666667 Z M20,10 C20,4.4771525 15.5228475,0 10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 C12.6521649,20 15.195704,18.9464316 17.0710678,17.0710678 C18.9464316,15.195704 20,12.6521649 20,10 Z' id='globe'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          }
        }
        >.title.-expandable.close.-active:before {
          background-image: none;
          transform: rotate(45deg);
          border-style: none;
          top: inherit;
          left: initial;
          margin-top: 0;
          width: 3px;
          height: inherit;
        }
      }
      .close.-active:before, 
      .close.-active:after {
        position: absolute;
        content: ' ';
        height: 21px;
        width: 3px;
        background-color: #35B2B7 !important;
        display: block;
        margin-left: -1px;
      }

      .text-left {
        .text-center {
          font-size: 20px;
          margin: unset;
          padding-bottom: 10px;
        }

        input {
          height: 40px;
          line-height: 40px;
        }

        button {
          height: 40px;
          font-size: 16px;
          padding: 4px 20px;
        }
      }
    }
    /* / New Lang Menu / */
  }

  > .brand {
    display: inline-block;
    vertical-align: bottom;
    width: 220px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
  }

  > .nav {
    @extend .primary-nav;
    @extend .link-nav;
    @extend .link-nav.-horizontal;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 12px;
    padding-top: 3px;
    padding-bottom: 5px;
    width: 101%;

    .-neu {
      color: #D40140;
    }

    .space-between {
      display: flex;
      justify-content: space-between;

      &:before {
        content: none;
      }
    }
  }

  > .meta {
    font-size: 12px;
    float: right;
    top: 0;
    margin-top: 0;
    position: absolute;
    right: -5px;

    .icon.user {
      height: 18px;
      width: 18px;
      fill: currentColor;
      position: relative;
      top: -2px;
      pointer-events: auto;
    }

    > .nav {
      @extend .link-nav;
      @extend .link-nav.-horizontal;

      li {
        padding: 0 10px;
        // transition: color 0.2s;

        &.user {
          position: relative;
        }
        &.user:after {
          content: "";
          display: block;
          position: absolute;
          top: 3px;
          bottom: 2px;
          right: 0;
          width: 1px;
          background-color: #dbdbdb;
        }

        a {
          display: block;
        }

        &.hilfe-kontakt{
          padding: 0px;
          font-weight: $weight-bold;
          display: none;

          &:after{
            content: none;
          }
        }

        &:last-of-type {
          padding-right: 0;
        }

        &.-active:hover {
          color: $head-link-highlight-color;
        }
      }

      ul.cart-list {
        display: block;
        float: right;
        margin-top: 14px;

        .versand-24h {
          font-size: 11px;
          margin-right: 10px;
        }

        .send24 {
          display: inline-block;
          width: 20px;
          height: 19px;
          background: url(/assets/img/icons/24hr-icon.png);
          background-repeat: no-repeat;
          vertical-align: middle;
        }

      }
    }

    .cart {
      position: relative;
      width: 21px;
      height: 18px;
      top: -2px;
      margin-right: 2px;
      vertical-align: bottom;
      fill: currentColor;
      pointer-events: auto;
    }

		$filled-icon-size: 16px;
		$filled-icon-font: 10px;

		span#cartcount {
			padding: 0 5px;
			box-sizing: border-box;
			text-align: center;
			position: absolute;
			top: 2px;
			right: -4px;
			display: table;
			height: $filled-icon-size;
			min-width: $filled-icon-size;
			line-height: $filled-icon-size;
			font-size: $filled-icon-font;
	    font-weight: bold;
			color: $white;
			background-color: $red;
			border-radius: $filled-icon-size/2;
		}
  }
}



.trusted-seals {
  display: inline-block;

  .ekomi-seal {
      background: url(/assets/img/trust/ekomi-seal.png);
      position: relative;
      top: 3px;
      width: 38px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 38px;
      text-indent: -333em;
      display: inline-block;
      margin: 0 5px;
  }

  .trusted-seal {
      background: url(/assets/img/trust/trustedshops-seal.png);
      position: relative;
      top: 3px;
      width: 38px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 38px;
      text-indent: -333em;
      display: inline-block;
      margin: 0 5px;
  }
}

.page-head-sub {
  position: absolute;
  width: 100%;
  min-width: $grid-width;
  background-color: #f2f2f0; // rgba fallback
  background-color: rgba(#f2f2f0, 0.95); // TODO: Color?
  padding: 20px 0;
  transform-origin: top center;
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 1;

  .no-csstransforms & {
    visibility: hidden;
  }

  &.-expanded {
    transform: translateY(0);
    display: block;
    .no-csstransforms & {
      visibility: visible;
    }
  }
}

.page-head-sub-row {
  @extend .row;
  padding: 0 $grid-gutter/2;
  box-sizing: border-box;
  position: relative;
  transition: height 0.2s;
  height: 131px;

  > .subnav {
    @extend .secondary-nav;
    @extend .link-nav;
    @extend .link-nav.-horizontal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .item.ref-mixpix {
      position: relative;
    }
    .item {
      .-round {
        position: relative;
      }
    }
  }

}
  .page-head-sub-row.bigger {
   height: 230px;
}
.-red
{
  color: #D40140 !important;
}
.mittext-red {
  color: #D40140 !important;
  font-size: 11px;
}
