.page-account {
  @extend .row;
  padding-top: 40px;
  padding-bottom: 50px;

  #orderForm\:data {
    display: none;
  }

  > .navigation {
    @extend .col;
    @extend %-span-3;
  }

  > .navigation > .nav-box {
    @extend .nav-box;
  }

  > .content {
    @extend .col;
    @extend %-span-9;

    .submit {
      @extend .button_action;
      float: right;
      font-size: 16px;
    }

    .form-boxed .group > .label {
      width: 40%;
    }
  }

  > .content > .headline {
    margin-top: -10px;
    margin-bottom: 25px;
    font-size: 34px;
    font-weight: $weight-normal
  }

  > .content > .welcome {
    font-size: 16px;
    margin-bottom: 26px;
    display: block;
  }

  > .content > .infotext {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    display: block;
  }

  > .content > .addresses-wrapper {
    @extend .col;
    @extend %-span-12;
    @extend .box;

    padding: 0;

    .title {
      display: inline-block;
      width: 100%;
      margin-top: 7px;
      border-bottom: 1px solid $box-title-border-color;
      padding-bottom: 5px;
      font-size: 16px;
      font-weight: $weight-semibold;

      > .action {
        float: right;
        margin-top: 3px;
      }
    }

    .errorlabel {
      display: block;
      padding-bottom: 10px;
    }

    .action {
      font-size: 14px;
      font-weight: $weight-normal;
      color: $link-secondary-color;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    .address {
      margin: 0;
      font-size: 14px;
      white-space: pre-line;
    }

    > .addressbox {
      @extend .col;
      @extend %-span-5;

      margin-bottom: 35px;

      &:first-of-type {
        @extend %-leave-2;
      }

      &.-fullbleed {
        @extend %-span-12;
        margin-right: 0;
      }
    }

    > .directory {
      @extend .col;
      @extend %-span-12;
      @include clearfix();

      > .addresswrapper {
        margin-left: -10px;
      }

      .address {
        @extend .col;
        @extend %-span-3;

        > .action {
          margin-top: 14px;
          display: table;
        }
      }
    }
  }
  /*B2B Migration Message*/
  .infoB2b {
    background-color: #F9F9F9;
    padding: 20px;
    margin: 20px 0 20px 0;
    .infoIcon {
      margin: 0 10px 0 0;
    }
    .infoB2bText {
      font-size: 14px;

      a {
        color: #35b2b6;
        text-decoration: underline;
      }
    }
  }
  /* / B2B Migration Message */
}