.review-page .table-smiles td > .green-smile-product,
.review-page .table-smiles td .green-smile-delivery,
.review-page .table-smiles td .green-smile-dispatch,
.review-page .table-smiles td .green-smile-process,
.review-page .table-smiles td .green-smile-website,
.review-page .table-smiles td .green-smile-knowledge,
.review-page .table-smiles td .green-smile-friendliness,
.review-page .table-smiles td .green-smile-time {
  background: transparent url('/assets/img/review/green-smile.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .green-smile-product:hover,
.review-page .table-smiles td .green-smile-delivery:hover,
.review-page .table-smiles td .green-smile-dispatch:hover,
.review-page .table-smiles td .green-smile-process:hover,
.review-page .table-smiles td .green-smile-website:hover,
.review-page .table-smiles td .green-smile-knowledge:hover,
.review-page .table-smiles td .green-smile-friendliness:hover,
.review-page .table-smiles td .green-smile-time:hover {
  background: transparent url('/assets/img/review/green-smile-active.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .lite-yellow-smile-product,
.review-page .table-smiles td .lite-yellow-smile-delivery,
.review-page .table-smiles td .lite-yellow-smile-dispatch,
.review-page .table-smiles td .lite-yellow-smile-process,
.review-page .table-smiles td .lite-yellow-smile-website,
.review-page .table-smiles td .lite-yellow-smile-knowledge,
.review-page .table-smiles td .lite-yellow-smile-friendliness,
.review-page .table-smiles td .lite-yellow-smile-time {
  background: transparent url('/assets/img/review/lite-yellow-smile.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .lite-yellow-smile-product:hover,
.review-page .table-smiles td .lite-yellow-smile-delivery:hover,
.review-page .table-smiles td .lite-yellow-smile-dispatch:hover,
.review-page .table-smiles td .lite-yellow-smile-process:hover,
.review-page .table-smiles td .lite-yellow-smile-website:hover,
.review-page .table-smiles td .lite-yellow-smile-knowledge:hover,
.review-page .table-smiles td .lite-yellow-smile-friendliness:hover,
.review-page .table-smiles td .lite-yellow-smile-time:hover {
  background: transparent url('/assets/img/review/lite-yellow-smile-active.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .yellow-smile-product,
.review-page .table-smiles td .yellow-smile-delivery,
.review-page .table-smiles td .yellow-smile-dispatch,
.review-page .table-smiles td .yellow-smile-process,
.review-page .table-smiles td .yellow-smile-website,
.review-page .table-smiles td .yellow-smile-knowledge,
.review-page .table-smiles td .yellow-smile-friendliness,
.review-page .table-smiles td .yellow-smile-time {
  background: transparent url('/assets/img/review/yellow-smile.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .yellow-smile-product:hover,
.review-page .table-smiles td .yellow-smile-delivery:hover,
.review-page .table-smiles td .yellow-smile-dispatch:hover,
.review-page .table-smiles td .yellow-smile-process:hover,
.review-page .table-smiles td .yellow-smile-website:hover,
.review-page .table-smiles td .yellow-smile-knowledge:hover,
.review-page .table-smiles td .yellow-smile-friendliness:hover,
.review-page .table-smiles td .yellow-smile-time:hover {
  background: transparent url('/assets/img/review/yellow-smile-active.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .orange-smile-product,
.review-page .table-smiles td .orange-smile-delivery,
.review-page .table-smiles td .orange-smile-dispatch,
.review-page .table-smiles td .orange-smile-process,
.review-page .table-smiles td .orange-smile-website,
.review-page .table-smiles td .orange-smile-knowledge,
.review-page .table-smiles td .orange-smile-friendliness,
.review-page .table-smiles td .orange-smile-time {
  background: transparent url('/assets/img/review/orange-smile.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .orange-smile-product:hover,
.review-page .table-smiles td .orange-smile-delivery:hover,
.review-page .table-smiles td .orange-smile-dispatch:hover,
.review-page .table-smiles td .orange-smile-process:hover,
.review-page .table-smiles td .orange-smile-website:hover,
.review-page .table-smiles td .orange-smile-knowledge:hover,
.review-page .table-smiles td .orange-smile-friendliness:hover,
.review-page .table-smiles td .orange-smile-time:hover {
  background: transparent url('/assets/img/review/orange-smile-active.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .red-smile-product,
.review-page .table-smiles td .red-smile-delivery,
.review-page .table-smiles td .red-smile-dispatch,
.review-page .table-smiles td .red-smile-process,
.review-page .table-smiles td .red-smile-website,
.review-page .table-smiles td .red-smile-knowledge,
.review-page .table-smiles td .red-smile-friendliness,
.review-page .table-smiles td .red-smile-time {
  background: transparent url('/assets/img/review/red-smile.jpg') repeat scroll 0% 0%;
}
.review-page .table-smiles td > .red-smile-product:hover,
.review-page .table-smiles td .red-smile-delivery:hover,
.review-page .table-smiles td .red-smile-dispatch:hover,
.review-page .table-smiles td .red-smile-process:hover,
.review-page .table-smiles td .red-smile-website:hover,
.review-page .table-smiles td .red-smile-knowledge:hover,
.review-page .table-smiles td .red-smile-friendliness:hover,
.review-page .table-smiles td .red-smile-time:hover {
  background: transparent url('/assets/img/review/red-smile-active.jpg') repeat scroll 0% 0%;
}

.review-page .table-smiles {
    width: 100%;margin-top: 30px;
}
.review-page .table-smiles td > input {
  position: absolute;
  visibility: hidden;
}

.active1 {background: transparent url("/assets/img/review/green-smile-active.jpg") repeat scroll 0% 0% !important;}
.active2 {background: transparent url("/assets/img/review/lite-yellow-smile-active.jpg") repeat scroll 0% 0% !important;}
.active3 {background: transparent url("/assets/img/review/yellow-smile-active.jpg") repeat scroll 0% 0% !important;}
.active4 {background: transparent url("/assets/img/review/orange-smile-active.jpg") repeat scroll 0% 0% !important;}
.active5 {background: transparent url("/assets/img/review/red-smile-active.jpg") repeat scroll 0% 0% !important;}


.review-page {padding-top: 30px;}
.review-page .green-color {color: $newGreen; text-align: center; padding-bottom:1em;}
.table-smiles tr td {text-align: left;}
.label-td{padding-left: 1em;}
.review-page .pure-g-r .pure-u-3-4 p {margin: 0px; font-weight: bold;}
.review-page .pure-g-r .pure-u-1-8 .newsletter-button {font-size: 14px;padding: 5px 20px;}
.thumbs-up {max-width: 1360px; top: 27px; position: relative; margin: 0px auto;}
.intro p {padding-top:2em;}



.review-page .table-smiles td > .green-smile-product,
.review-page .table-smiles td .green-smile-delivery,
.review-page .table-smiles td .green-smile-dispatch,
.review-page .table-smiles td .green-smile-process,
.review-page .table-smiles td .green-smile-website,
.review-page .table-smiles td .green-smile-knowledge,
.review-page .table-smiles td .green-smile-friendliness,
.review-page .table-smiles td .green-smile-time, .review-page .table-smiles td > .lite-yellow-smile-product,
.review-page .table-smiles td .lite-yellow-smile-delivery,
.review-page .table-smiles td .lite-yellow-smile-dispatch,
.review-page .table-smiles td .lite-yellow-smile-process,
.review-page .table-smiles td .lite-yellow-smile-website,
.review-page .table-smiles td .lite-yellow-smile-knowledge,
.review-page .table-smiles td .lite-yellow-smile-friendliness,
.review-page .table-smiles td .lite-yellow-smile-time, .review-page .table-smiles td > .yellow-smile-product,
.review-page .table-smiles td .yellow-smile-delivery,
.review-page .table-smiles td .yellow-smile-dispatch,
.review-page .table-smiles td .yellow-smile-process,
.review-page .table-smiles td .yellow-smile-website,
.review-page .table-smiles td .yellow-smile-knowledge,
.review-page .table-smiles td .yellow-smile-friendliness,
.review-page .table-smiles td .yellow-smile-time, .review-page .table-smiles td > .orange-smile-product,
.review-page .table-smiles td .orange-smile-delivery,
.review-page .table-smiles td .orange-smile-dispatch,
.review-page .table-smiles td .orange-smile-process,
.review-page .table-smiles td .orange-smile-website,
.review-page .table-smiles td .orange-smile-knowledge,
.review-page .table-smiles td .orange-smile-friendliness,
.review-page .table-smiles td .orange-smile-time, .review-page .table-smiles td > .red-smile-product,
.review-page .table-smiles td .red-smile-delivery,
.review-page .table-smiles td .red-smile-dispatch,
.review-page .table-smiles td .red-smile-process,
.review-page .table-smiles td .red-smile-website,
.review-page .table-smiles td .red-smile-knowledge,
.review-page .table-smiles td .red-smile-friendliness,
.review-page .table-smiles td .red-smile-time {
  width: 42px;
  cursor: pointer;
  height: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: auto;
  }