.multiimage {
  .ui-fileupload-cancel{
    display: none;
  }
  .itemQuantitySwitcher {
    height: 20px;
    input {
      width: 60px;
      text-align: center;
      height: 20px;
      background: none;
      color: white;
      border: none;
      padding: 0;
      font-size: 14px;
    }
    .ui-spinner-down .ui-icon {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 426.667 426.667' fill='white' style='enable-background:new 0 0 426.667 426.667;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M213.333,0C95.467,0,0,95.467,0,213.333s95.467,213.333,213.333,213.333S426.667,331.2,426.667,213.333S331.2,0,213.333,0 z M320,234.667H106.667V192H320V234.667z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
      top: 0;
      background-position: 0 0;
      width: 20px;
      height: 20px;
      margin: 0;
      background-size: 20px 20px;
    }
    .ui-spinner-up .ui-icon {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='510px' height='510px' fill='white' viewBox='0 0 510 510' style='enable-background:new 0 0 510 510;' xml:space='preserve'%3E%3Cg%3E%3Cg id='add-circle'%3E%3Cpath d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-102v102h-51v-102 h-102v-51h102v-102h51v102h102V280.5z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
      top: 0;
      margin: 0;
      background-position: 0 0;
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
    .ui-spinner-down {
      float: left;
      left: 0;
      margin: 0;
      position: absolute;
      border: none;
      background: none;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
    .ui-spinner-up {
      position: absolute;
      float: right;
      border: none;
      background: none;
      right: 0;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }
  
  .moveText{
    font-size: 12px;
    position: relative;
    top: 10px;
    .-hidden{
      display: none;
    }
  }
  .-filled {
    .ui-button{
      background-color: $newGreen;
      color: $white;
      &:hover,
      &:focus{
      background-color: $newDarkGreen;
      color:white;
      }
    }
  }
  
  .main-header {
    margin-bottom: 20px;

    h1 {
      margin: 0;
    }

    h2 {
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      margin-top: 0;
    }
  }


  .photonList {
    .image-entry {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .item {
        margin-bottom: 10px;
        &.mixPix {
          img {
            padding: 0;
          }
        }  
        &.retroPreview{
          img {
            padding-bottom: 15px;
          }
        } 
        img {
          padding: 5px;
          box-sizing: border-box;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .ui-fileupload-row {
    @include clearfix;
    border-bottom: 1px solid rgba(204, 199, 220, 0.53);
    padding-bottom: 10px;

    &:last-child {
      border-bottom: none;
    }

    .ui-fileupload-preview {
      width: 102px;
      float: left;

      + div {
        float: left;
        width: calc(100% - 178px);
        overflow-x: hidden;
      }
    }

    .ui-fileupload-progress {
      clear: both;
      width: 78%;
      float: left;

      + div {
        float: right;
      }

      @keyframes move {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 28px 0;
        }
      }

      .ui-progressbar-value {
        height: 20px;
        border: 1px solid $newGreen;
        border-radius: 3px;
        background-image: repeating-linear-gradient( -45deg, #f89711, #f89711 11px, #eee 10px, #eee 20px );
        background-size: 28px 28px;
        animation: move .5s linear infinite;
      }
    }
  }

  // button color
  .ui-fileupload-buttonbar {
    padding-left: 0;
    text-align: center;

    > .ui-button {
      @extend .button;
      @extend .-action;
      @extend .button_action_mod-plus-after;
      margin-right: 0;
      width: 90%;

      .ui-icon {
        display: none;
      }

      .ui-button-text {
        display: inline-block;
        padding: 0 20px 0 0;
      }
    }
  }

  .file-upload {
    height: auto;
  }

  // overwrite default primeface ux
  .ui-fileupload {
    margin-top: 6px;
    .ui-fileupload-content {
      padding: 3px 5px;
      .ui-progressbar {
        width: 100%;
      }
    }
    .ui-fileupload-files td:first-child {
      padding-left: 0;
    }
    .ui-fileupload-files td:last-child {
      padding-right: 0;
    }
    .ui-fileupload-files td:nth-child(2) {
      display: none
    }
  }

  .ui-widget-header {
    border: 1px solid transparent;
    background: transparent;
  }
  .ui-widget-content {
    border: 1px solid transparent;
  }

  .tool-panel {
    position: fixed;
    max-width: 100%;
    height: 95px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    z-index: 899;
    padding: 10px;
    box-shadow: 0 -5px 5px -5px #989898;

    &.-moreHeight {
      height: 120px;
    }

    .item-tools {
      margin-top: 10px;

      p {
        margin-top: 0;
        white-space: nowrap;
      }

      .price {
        color: $highlight-color;
      }
    }

    .button {
      &.-action {
        width: 100%;
        margin-bottom: 10px;
        display: inline-block;
        min-height: 35px;
          &.-with-cart-arrow{
            font-size: 16px;
          }
      }
    }
  }

  .inclCostsText {
    color: #979797;
    font-size: 8px;
    position: relative;
    top: -5px;
    &.-moreTop{
      top: -10px;
    }
  }

  #multiModal {
    .modal-dialog {
      .modal-content {
        background-color: #313539;
        color: $white;

        a {
          color: inherit;
          font-size: .9em;

          .fa {
            margin-right: 5px;
          }
        }
      }
    }
  }

  #multiimage-delete {
    .button {
      .-empty-background {
        margin-right: 10px;
      }
    }
  }

  .gallery-edit {
    text-align: center;

    &.mixpix .large-preview {
      border: none;
    }
    .large-preview {
      display: inline-block;
      border: 10px solid #fff;
      margin-bottom: 10px;
    }

    svg.arrows {
      margin-right: 3px;
      top: 3px;
      position: relative;
    }

  }

  .outmsg {
    margin: 0 -15px;
    .-info {
      max-width: 100%;
      border-radius: 0;
      padding: 15px 10px 15px 50px;
      font-weight: 700;
      font-size: 13px;
      margin: 5px auto;
    }
  }



  // .canvas-container {
  //   margin-bottom: 20px;
  //   margin-top: 1px;
  // }

  .retro {
    .canvas-container {
      border-bottom: 40px solid #fff;

      &:after {
        // remove after element
        content: none;
      }
    }
  }


  // .msg.-warning {
  //   color: #B94A48;
  //   background: #F2DEDF;
  //   clear: both;
  //   margin: 15px 0;
  //   display: inline-block;
  //   padding: 10px 0;
  //   width: 100%;
  // }


  // .dummy {
  //   display: flex;
  //   height: 60px;
  //   width: 100%;
  //   text-align: center;
  //   justify-content: center;
  //   align-items: center;
  //   vertical-align: middle;
  // }

  // .gallery-edit {
  //   background: $white;
  //   color: $concrete;

  //   a:focus,
  //   a:link {
  //     text-decoration: underline;
  //     color: $concrete;
  //   }

  //   .large-preview {
  //     padding-top: 0;
  //     border-left: none;
  //     border-right: none;
  //     margin-bottom: 0;
  //     min-height: auto;
  //     position: relative;

  //     .canvas-container {
  //       box-shadow: 3px 3px 10px 0px rgba(37, 37, 37, .56);
  //     }
  //   }

  // }

  // .loader-wrap {
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background: rgba(109, 109, 109, 0.45);

  //   .loader {
  //     height: 100px;
  //     position: absolute;
  //     width: 100%;
  //     top: 200px;
  //   }
  // }

  // .ui-fileupload {
  //   max-width: 100%;
  // }

  // .ui-fileupload-buttonbar {
  //   > .ui-button {
  //     width: 90%;
  //     margin: 0 5%;
  //   }
  // }


.freemixpix_infoBox {
  position: relative;
  width: -webkit-fill-available;
  background: $alabaster;
  border: 1px solid $gallery;
  display: inline-block;
  top: -5px;
  line-height: 1em;
  padding: 4px;
  text-align: center;
  font-size: 12px;

  &:after, &:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: $alabaster;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(225, 225, 225, 0);
    border-bottom-color: $gallery;
    border-width: 11px;
    margin-left: -11px;
  }
}



}

.modal {
  &#multiModal {
    &.modal-wide {
      .modal-dialog {
        max-width: 95%;
        margin: auto;
        width: 100%;

        .icon-trash {
          background: url(/assets/img/icons/trash-black.png) no-repeat;
        }

        .icon-rotate {
          background: url(/assets/img/icons/rotate-black.png) no-repeat;
        }

        .icon-move {
          background: url(/assets/img/icons/move-black.png) no-repeat;
          height: 20px;
          width: 20px;
        }

        .msg {
          margin-top: 15px;
          font-size:14px;
        }

        .canvas-container {
          // transform: scale(0.9);
        }

      }
    }
  }
}