.checkout-next {
  position: relative;
  text-align: right;

  > .amount {
    font-size: 16px;
    @extend .form-group;
    @extend .form-group.-inline;
  }

  > .amount .action {
    text-align: right;
    padding-left: 5px;
  }

  > .price {
    font-size: 20px;
    margin-top: 40px;
    @extend .form-group.-inline;
  }

  > .price .highlight {
    color: $highlight-color;
  }
}