  .footerBreadCrumbs {
    width: 100%;
    background-color: $dimgrey;
    color: $white;
    font-size: 14px;
    .breadCrumbs {
      padding-top: 15px;
      padding-bottom: 10px;
      .bCrumbs {
        padding-left: 10px;
        margin: 0;
        li {
          display: inline-block;
          padding-right: 5px;
          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }