// Note:
// The product-box has a padding-bottom of the info-element
// (price + button). The info-element will be positioned
// absolute on bottom of the info box.
// Why? The height of the product boxes will be changed with
// jquery.matchHeight. This is the only suitable solution in
// order to have the buttons all arranged at the bottom of
// the product-boxes.


.product-box {
  @extend .box;
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
  box-sizing: border-box;

  &.-big {
    padding-bottom: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  > .bigleft, .bigright {
    display: table-cell;
    width: 50%;
    height: 100%;
  }

  > .bigleft {
    position: relative;

    > .image {
      display: table;
      min-height: 100%;
      margin-bottom: 0;
      overflow: hidden;

      &:after {
        content: none;
      }

      img {
        width: 100%;
        height: auto;
        min-height: 100%;
      }
    }
  }

  > .bigright {
    vertical-align: top;
    padding: 0 10px;
    position: relative;

    .body {
      padding-bottom: 40px;
    }

    .info {
      padding-left: 20px;
    }
  }

  > .title {
    font-weight: $weight-semibold;
    font-size: 18px;
    padding: 7px 10px;
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  > .image {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 25px;

    &:after {
      content: attr(data-more-text);
      display: table;
      position: absolute;
      height: 30px;
      width: 150px;
      left: 43%;
      bottom: -15px;
      margin-left: -50px;
      line-height: 30px;
      text-align: center;
      color: $white;
      background-color: $highlight-color;
      opacity: 0;
      transform: translateY(-2px);
      transition: all 0.3s;
    }

    &:hover:after {
      transform: translateY(0);
      opacity: 1;
    }
    
    &.gift-voucher {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  > .body {
    line-height: 18px;
    padding: 0 10px;
    margin: 10px 0;
  }

  .info {
    padding: 5px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include clearfix;
  }

  .info > .price {
    float: left;

    @include break(tablet_portrait_small) {
      margin-top: 7px;
    }
  }

  .info > .price > .highlight {
    font-size: 25px;
    font-weight: $weight-semibold;
    color: $red;

    @include break(tablet_portrait_small) {
      font-size: 20px;
    }
  }

  .info > .action {

    &.-giftCertificate {
      float: none;
      margin: 0 auto;
      width: 180px;
      top: 0;
      position: relative;
    }
    
    float: right;
  }

  p {
    margin: 10px 0;
  }
}