.passwordSection{

  .-passwordVerify {
    position: absolute;
    left: 234px; 
    width: 47%;
    bottom: 24px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #e1e1e1;
    z-index: 200;
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 89%;
      left: 23px;
      background: #f9f9f9;
      transform: rotate(45deg);
      border-bottom: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
    }
    ul {
      list-style: none;
      li {
        position: relative;
        &:before {
          content: '\2715';
          position: absolute;
          left: -20px;
        }
        &.-correct {
          color: $newGreen;
          &:before {
            content: '\2713';
          }
        }
      }
    }
  }
  .checkoutPopup{
    left: 224px!important;    
    bottom: 22px!important;
    &:before{
      top: 88% !important;
    }
  }
  .resetPopup{
    left: 265px !important;
  }

  label.error {
    color: #d40140;
  }

  span.error {
    color: #d40140;
    font-weight: bold;
  }

  .error {
    border-color: #d40140;
  }

  .error-soft {
    border: 1px solid #d40140 !important;
    @extend .error;
  }

  .errorCheck {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23D9382C'%3E%3Cpath d='M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/%3E%3C/svg%3E");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    position: absolute;
    // right: -45px;
    // float: right;
    // top: 10px;
    right: 10px;
    float: right;
    top: 5px;
  }

  .validCheck {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%2369C53A'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    position: absolute;
    // right: -45px;
    // float: right;
    // top: 10px;
    right: 10px;
    float: right;
    top: 5px;
  }

  .inputBlock {
    .floating-label, .floating-label-date {
      font-size: 12px;
      white-space: nowrap;
      color: #404040;
      animation: moveTextTop 0.1s;
      opacity: 1;
      position: absolute;
      top: -16px;
    }
    .floating-label.-invalid {
      color: #d40140;
    }
  }
  .grid{
    display: grid; 
    grid-template-columns: 40% 50%; 
  }
  .inputValidator{
    width: 85% !important; 
    display: block; 
    &:focus{
      border:1px solid #e1e1e1 !important;
    }
  }
}
