.toast-message {
  padding: 10px 20px;
  font-size: 14px;
  color: $white;
  background-color: #222222;
  background-color: rgba(#222222, 0.9);
  border: 1px solid #222222;
  opacity: 1;
  transition: all 0.3s;
  transform: translateY(0);
  border-radius: 2px;
  width: 250px;
  margin-bottom: 10px;

  &.-opening {
    transform: translateY(5px);
    opacity: 0;
  }

  &.-closing {
    transform: translateY(-5px);
    opacity: 0;
  }

}

.toast-holder {
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 43%;
  @include z-index('navigation', -1);
}
